@model CourseProject.Models.Grade
@{
    ViewBag.Title = "PutGrade";
}


<div class="card mt-3 mb-3" id="header_card">
    <div class="card-body">
        <div class="form-group" style="padding-left: 20px;">
            <div class="row">
                <img src="https://dl.iitu.kz/theme/image.php/classic/core/1602665137/u/f1" width="100" height="100" style="border-radius: 50%">
                
                <h2 style="padding-left: 20px; padding-top: 25px;"> @ViewBag.student.Name @ViewBag.student.Surname (@ViewBag.student.Login) grade page</h2>
                    
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white">
                    <li class="breadcrumb-item"><a href="/Home/TeacherPage">Teacher Page</a></li>
                    <li class="breadcrumb-item"><a href="/Home/LessonDetails/?lessonId=@ViewBag.lesson.Id">Lesson Details</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Put Grade</li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.lesson.Course.Name</li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card-body p-3">
                <h5 class="card-title">Navigation</h5>
            </div>
            <div class="card-text content">
                <ul class="list-group">
                    <li class="list-item-group"><a href="/Home/TeacherPage">Teacher Page</a></li>
                    <li class="list-item-group"><a href="/Home/LessonDetails/?lessonId=@ViewBag.lesson.Id">Lesson Details</a></li>
                    <li class="list-item-group"><a href="#">Put Grade</a></li>
                    <!--<li class="list-item-group">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Мои курсы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="course_details.html">11645</a>
                            <a class="dropdown-item" href="course_details.html">11658</a>
                            <a class="dropdown-item" href="course_details.html">11659</a>
                        </div>
                    </li>-->
                </ul>
            </div>

        </div>
        <div class="col-9">
            <div class="container">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="65%" scope="col">Lesson</th>
                                <th width="10%" scope="col">Grade</th>
                                <th width="25%" scope="col">Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td width="65%">
                                    <input type="hidden" name="StudentId" value="@ViewBag.student.Id" />
                                    <input type="hidden" name="LessonId" value="@ViewBag.lesson.Id" />
                                    @ViewBag.lesson.Course.Name
                                </td>
                                <td width="10%">
                                    <input class="form-control" type="number" name="Value" required />
                                </td>
                                <td width="25%">
                                    <input class="form-control" type="date" name="Date" required />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" style="float: right" class="btn btn-success">Put</button>
                }


            </div>
        </div>
    </div>
</div>
