@model IEnumerable<CourseProject.Models.Grade>
@{
    ViewBag.Title = "ShowGrades";
}

<div class="card mt-3 mb-3" id="header_card">
    <div class="card-body">
        <div class="form-group">
            <div class="row" style="margin-left: 20px">
                <img src="https://dl.iitu.kz/theme/image.php/classic/core/1602665137/u/f1" width="100" height="100" style="border-radius: 50%">
                @foreach (var item in Model)
                {
                    <h2 style="padding-left: 20px; padding-top: 25px;">@item.Student.Name @item.Student.Surname (@item.Student.Login)</h2>
                    break;
                }
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white">
                    <li class="breadcrumb-item"><a href="/Home/TeacherPage">Teacher Page</a></li>
                    <li class="breadcrumb-item"><a href="/Home/LessonDetails/?lessonId=@ViewBag.lesson.Id">Lesson Details</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Show Grade</li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.lesson.Course.Name</li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card-body p-3">
                <h5 class="card-title">Navigation</h5>
            </div>
            <div class="card-text content">
                <ul class="list-group">
                    <li class="list-item-group"><a href="/Home/TeacherPage">Teacher Page</a></li>
                    <li class="list-item-group"><a href="/Home/LessonDetails/?lessonId=@ViewBag.lesson.Id">Lesson Details</a></li>
                    <li class="list-item-group"><a href="#">Show Grade</a></li>
                    <!--<li class="list-item-group">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Мои курсы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="course_details.html">11645</a>
                            <a class="dropdown-item" href="course_details.html">11658</a>
                            <a class="dropdown-item" href="course_details.html">11659</a>
                        </div>
                    </li>-->
                </ul>
            </div>

        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Course name</th>
                                <th scope="col">Grade</th>
                                <th width="20%" scope="col">Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                             {
                                <tr>
                                    <th><a href="#">@item.Lesson.Course.Name</a></th>
                                    <td>@item.Value</td>
                                    <td width="20%">@item.Date</td>
                                </tr>
                             }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>