@model IEnumerable<CourseProject.Models.Student>

@{
    ViewBag.Title = "Index";
}


<div class="card mt-3 mb-3" id="header_card">
    <div class="card-body">
        <h2>Kundelik.kz</h2>
        <a href="index.html">Начало</a>
    </div>
</div>



<div class="container-fluid">
    <div class="row">


        <div class="col-2">
            <div class="card-body p-3">
                <h5 class="card-title">Admin page</h5>
            </div>
            <div class="card-text content">
                <ul class="list-group">
                    <li class="list-item-group">
                        <a href="/Courses"><i class="fa fa-book" aria-hidden="true"></i> Courses</a>
                    </li>
                    <li class="list-item-group">
                        <a href="/Teachers"><i class="fas fa-user-plus" aria-hidden="true"></i> Teachers</a>
                    </li>
                    <li class="list-item-group">
                        <a href="/Parents"><i class="fa fa-user" aria-hidden="true"></i> Parents</a>
                    </li>
                    <li class="list-item-group">
                        <a href="/Groups"><i class="fa fa-users" aria-hidden="true"></i> Groups</a>
                    </li>
                    <li class="list-item-group">
                        <a href="/Students"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Students</a>
                    </li>
                    <li class="list-item-group">
                        <a href="/Lessons"><i class="fab fa-discourse" aria-hidden="true"></i> Lessons</a>
                    </li>
                    <li class="list-item-group">
                        <a href="/Grades"><i class="far fa-copyright" aria-hidden="true"></i> Grades</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-9">
            <div class="container">
                <nav class="navbar navbar" style="background-color: white">
                    <h2>Students</h2>
                    <p>@Html.ActionLink("Add Student", "Create", "Students", new { }, new { @class = "viewDialog btn btn-success", data_dialog_title = "Add student" })</p>

                </nav>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" width="5%">ID</th>
                                <th scope="col" width="20%">Login</th>
                                <th scope="col" width="20%">Full Name</th>
                                <th scope="col" width="20%">Parent</th>
                                <th scope="col" width="20%">Group</th>
                                <th scope="col" width="15%">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CourseProject.Models.Student st in Model)
                            {
                                <tr>
                                    <th scope="row">@st.Id</th>
                                    <td>@st.Login </td>
                                    <td>@st.Name @st.Surname</td>
                                    <td>@st.Parent.Name @st.Parent.Surname</td>
                                    <td>@st.Group.Name </td>
                                    <td width="15%">
                                        @Html.ActionLink("Edit", "Edit", "Students", new { id = st.Id },
            new { @class = "viewDialog btn btn-primary btn-sm", data_dialog_title = "Edit student" })
                                        @Html.ActionLink("Delete", "Delete", "Students", new { id = st.Id },
            new { @class = "viewDialog btn btn-danger btn-sm", data_dialog_title = "Delete student" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>
</div>

<script src='@Url.Content("~/Scripts/jquery-3.4.1.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
<script>

    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    heigh: 500,
                    width: 400
                })
                .load(this.href);
        });
    });

</script>